
###############################################
## input shaping / resonance compensation
## https://github.com/KevinOConnor/klipper/blob/master/docs/Resonance_Compensation.md
## V * N / D | (Printing speed * oscillations / measured_distance)
###############################################

[input_shaper]
shaper_freq_x: 69.8254
shaper_freq_y: 69.3641
shaper_type: 2HUMP_EI