# This file contains common pin mappings for the BigTreeTech SKR PRO.
# To use this config, the firmware should be compiled for the
# STM32F407 with a "32KiB bootloader".

# The "make flash" command does not work on the SKR PRO. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR PRO
# with that SD card.

# The configuration is very specific for a heavily modified Ender 5.
# By heavily modified I mean literally everything except the frame!
# And even that has been stiffed and improved with belt tensioners, linear rails and brackets
# So don't just blindly apply the config, but rather use it as inspiration
# to set up your printer.

# 2021 - FrankenEnder - Marc Plogas

########################################
## generic printer configuration
########################################
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_23003E0008504E304B373720-if00

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 2500
# max_accel: 7000 #only used for resonance compensation tuning
# max_accel_to_decel: 7000 #only used for resonance compensation tuning
# square_corner_velocity: 5.0 #only used for resonance compensation tuning
max_z_velocity: 7
max_z_accel: 100


[include stepper.cfg]
[include heater.cfg]
[include fans.cfg]
[include bltouch.cfg]
[include macros.cfg]
[include pins.cfg]
[include input_shaper.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 40.142
#*# pid_ki = 2.268
#*# pid_kd = 177.630
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 63.886
#*# pid_ki = 1.494
#*# pid_kd = 682.787
#*#
#*# [bltouch]
#*# z_offset = 0.528
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.108084, 0.120651, 0.118138, 0.113111, 0.105570, 0.067866, 0.047758
#*# 	  0.052785, 0.062839, 0.065353, 0.060326, 0.057812, 0.035190, 0.030163
#*# 	  0.022622, 0.037704, 0.042731, 0.040217, 0.052785, 0.020109, 0.015081
#*# 	  -0.005027, 0.012568, 0.022622, 0.020109, 0.027649, 0.002514, 0.002514
#*# 	  -0.005027, 0.010054, 0.027649, 0.027649, 0.037704, 0.020109, 0.012568
#*# 	  0.037704, 0.052785, 0.070380, 0.072894, 0.080434, 0.062839, 0.062839
#*# 	  0.085461, 0.103056, 0.120651, 0.120651, 0.130706, 0.110597, 0.118138
#*# tension = 0.2
#*# min_x = 19.99
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 3
#*# min_y = 11.99
#*# x_count = 7
#*# max_y = 195.0
#*# mesh_x_pps = 3
#*# max_x = 164.97
